<h2>New Comment</h2>
<div>
<br>
<%= form_with model: @comment, method: :post, url: new_user_post_comment_path do |form| %>

  <%= form.label :text %><br>
  <%= form.text_field :text %><br>

  <%= form.submit "Create Comment" %><br>
<%end%>
</div>