
section {
  width: 100%;
}

.user {
  display: flex;
  gap: 2%;
  padding-bottom: 2%;
}

.user-dets {
  width: 90%;
  border: 3px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
}

.user-name {
  font-size: 1.5rem;
}

.num-posts {
  font-size: 0.7rem;
  align-self: flex-end;
}

.pro-pic {
  border: 3px solid black;
}

.user-bio {
  border: 3px solid black;
  padding: 2%;
}

.user-post {
  border: 3px solid black;
  padding: 2%;
}

button {
  border: 3px solid black;
  width: 20%;
  margin: 2% 0 2% 40%;
}

.posts {
  width: 100%;
}

.post-and-comment {
  margin: 3% 0;
  width: 100%;
}

.post {
  border: 3px solid black;
  padding: 2%;
  background-color: aquamarine;
}

.comments-likes {
  display: flex;
  justify-content: flex-end;
  gap: 1%;
}

.post-comments {
  border: 3px solid black;
  padding: 2%;
  margin: 0% 0;
  background-color: rgb(249, 188, 165);
}

.post-header {
  display: flex;
  justify-content: space-between;
}

.post-dets {
  display: flex;
}

.add {
  background-color: rgb(255, 255, 255);
  margin: 1%;
}

.comment-like-wrapper {
  display: flex;
  justify-content: center;
}
